<div class="row">
	<div class="col-lg-6 col-xs-12">
		<rd-widget>
		<a class="med_card" ui-sref=".labresults">
			<rd-widget-body>
				Lab results
			</rd-widget-body>
		</a>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-xs-12">
		<rd-widget>
		<a class="med_card" ui-sref=".exercise">
			<rd-widget-body>
				Exercise
			</rd-widget-body>
		</a>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-xs-12">
		<rd-widget>
		<a class="med_card" ui-sref=".medicine">
			<rd-widget-body>
				Medicine
			</rd-widget-body>
		</a>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-xs-12">
		<rd-widget>
		<a class="med_card" ui-sref=".appointment">
			<rd-widget-body>
				Appointment
			</rd-widget-body>
		</a>
		</rd-widget>
	</div>
</div>
<!-- <div ui-view></div> -->