<div style="height: 10vh;">
  <h2 class="col-lg-2 col-md-3 col-xs-12" style="color: #30426a;">{{title}}</h2>
  <div class="col-lg-4 col-md-3 col-xs-12">
    <rd-widget>
    <a class="med_card_cre">
      <rd-widget-body>
        <span style="color: red;">Current: !!!!1.8 mg/dL</span>
      </rd-widget-body>
    </a>
    </rd-widget>
  </div>
  <div class="col-lg-4 col-md-3 col-xs-12">
    <rd-widget>
    <a class="med_card_cre">
      <rd-widget-body>
        Limit: !!!!!1.5 mg/dL
      </rd-widget-body>
    </a>
    </rd-widget>
  </div>
</div>
<div style="padding: 20px; ">

<div ng-repeat="result in results">
  <div class="result-chart" id="line-chart">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="chart-container">
          <canvas id="line" class="chart chart-line ng-isolate-scope" chart-data="[result.points, result.limits]" chart-labels="result.date" chart-legend="true" chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options" chart-colors="colours" chart-dataset-override="override">
          </canvas>
        </div>
      </div>
    </div>
  </div>


<table class="table table-striped">
    <thead>
      <tr>
        <th>Month</th>
        <th>Result</th>
        <th>Warning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>January</td>
        <td>0.5</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Febuary</td>
        <td>0.8</td>
        <td>-</td>
      </tr>
      <tr>
        <td>March</td>
        <td>1.2</td>
        <td>-</td>
      </tr>
      <tr>
        <td>April</td>
        <td>1.5</td>
        <td>-</td>
      </tr>
      <tr>
        <td>May</td>
        <td>1.7</td>
        <td>over the limit , 0.2</td>
      </tr>
      <tr>
        <td>June</td>
        <td>2.0</td>
        <td>over the limit , 0.5</td>
      </tr>
      <tr>
        <td>July</td>
        <td>1.8</td>
        <td>over the limit , 0.3</td>
      </tr>
    </tbody>
  </table>

</div>