<style> 
.md-datepicker-calendar-pane{
    z-index: 1200;
}
</style>
<fieldset class="form-group">
	<label class="col-xs-3">Title</label>
	<select chosen data-placeholder="Select an options" class="col-xs-9" ng-model="$parent.labresult.result" ng-change="update()" 
	ng-options="labresults_list.title for labresults_list in option.labresults_list track by labresults_list.id">
	</select>
</fieldset>
<fieldset class="form-group row">
    <label class="col-xs-3">Value</label>
    <div class="col-xs-6">
    <input class="form-control" type="number" step="0.01" ng-model="$parent.labresult.result.value"/>
    </div>
    <label class="col-xs-3" ng-if="labresult.unit != ' '" >{{$parent.labresult.result.unit}}</label>
</fieldset>
<fieldset class="form-group row">
    <label class="col-xs-3">Limitation</label>
    <div class="col-xs-6">
    <input class="form-control" type="number" step="0.01" ng-model="$parent.labresult.result.limit"/>
    </div>
    <label class="col-xs-3" ng-if="labresult.unit != ' '" >{{$parent.labresult.result.unit}}</label>
</fieldset>
<fieldset class="form-group">
	<label class="col-xs-3">Date</label>
	<md-datepicker class="col-xs-9" md-placeholder="Enter date" md-open-on-focus ng-model="$parent.labresult.date"></md-datepicker>
</fieldset>
