<style> 
.md-datepicker-calendar-pane{
    z-index: 1200;
}
</style>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">First name</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.firstname" type="text" value="Lucksika">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Last Name</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.lastname" type="text" value="Losuvalna" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Height</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.height" type="number" value="165" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Weight</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.weight" type="number" value="53" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Blood type</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.bloodtype" type="text" value="O" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Telephone</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.tel" type="text" value="081-334-5678" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Date of birth</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.birthdate" type="date" value="1993-09-08" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Age</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.age" type="number" value="33" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Gender</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.gender" type="text" value="Female" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Address</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.address" type="text" value="13/335 ,Suktee Road, HadYai, Thailand 90110" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Language</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.language" type="text" value="English, Thai" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Emergency call</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.emergencycall" type="text" value="081-215-3675, 090-364-1686" >
  </div>
</div>